/*
Colours
  primary: #38597c
  primary: #38597c
  secondary: #224264
  tertiary: #24292e
  tertiary: #24292e
  tertiary2: #45494d
  tertiary3: #353a3e
  accent:#f2f8fc 
  white: #f2f8fc
*/

@font-face {
  font-family: TrueLies;
  src: url('./fonts/True Lies.ttf');
}

html,
body {
  font-family: 'Play', sans-serif !important;
  min-height: 100%;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Play', sans-serif !important;
}

/* btn */
.ui.button {
  font-family: 'Play' !important;
}
.btn-page {
  padding: 4px !important;
}
.btn-options-container {
  position: absolute !important;
  bottom: 0 !important;
}
.btn-auth {
  background-color: transparent !important;
  border: 1px #45494d solid !important;
  transition: all 0.2s linear;
}
.btn-auth:hover {
  background-color: #45494d !important;
  border: 1px #45494d solid !important;
}
.btn-auth:active {
  background-color: #353a3e !important;
  border: 1px #353a3e solid;
}

.btn-clear {
  font-size: 9px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #f2f8fc;
  background-color: transparent;
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  outline: none;
  transition: all 0.3s linear;
}
.btn-clear:hover {
  color: #222;
  transform: translateY(-3px);
  background-color: #f2f8fc;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.btn-clear:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.12),
    0 1px 5px 0 rgba(34, 36, 38, 0.15);
}

.btn-profile {
  float: right;
  margin-top: 30px !important;
  margin-right: 15px !important;
}

.btn-secondary {
  font-size: 14px;
  font-weight: 500;
  color: #f2f8fc;
  background-color: transparent;
  padding: 5px 5px;
  border-bottom: 1px solid transparent;
  outline: none;
  transition: all 0.2s linear;
}
.btn-secondary:hover {
  color: #f2f8fc;
  background-color: #38597c;
  transform: translateY(-3px) !important;
  border-bottom: 1px solid #f2f8fc;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.btn-secondary:active {
  transform: translateY(0px);
}

/* CARD */
.card > .ui.fluid.image {
  border-radius: 3px !important;
}
.card-no-border {
  border: 0;
  border-radius: 3px !important;
}
.card-episodes {
  text-align: center;
  padding: 4px 10px 4px 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: auto;
  font-size: 13.5px;
  font-weight: 500;
  color: #f2f8fc;
  background-color: rgba(36, 41, 46, 0.85) !important;
  border-top-right-radius: 3px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}
.card-extra {
  text-align: center;
  padding: 4px 15px 4px 10px;
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  height: auto;
  width: auto;
  font-size: 13.5px;
  font-weight: 500;
  color: #f2f8fc;
  background-color: rgba(53, 58, 62, 0.85);
  border-top-left-radius: 3px;
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
.card-overlay {
  height: 30px;
  width: 100%;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #f2f8fc;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(56, 89, 124, 0.8);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.card:hover > .card-play {
  opacity: 1;
}
.card-play {
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: rgb(36, 41, 46);
  background-color: rgba(244, 244, 244, 0.8);
  opacity: 0;
  transition: opacity 0.15s linear;
}
.card-play > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CENTERED */

.confirm-centered {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}
.edit-centered {
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
}
.centered-form {
  z-index: 10;
  width: 400px;
  height: auto;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
}

/* DASHBOARD */
.ui.grid.dashboard {
  display: inherit !important;
  padding-left: 14px !important;
  position: relative;
  min-height: calc(100vh - 183px);
}
.dashboard-image {
  display: inline !important;
  height: 90px !important;
  width: 90px !important;
  max-height: 90px !important;
  max-width: 90px !important;
  overflow: hidden;
  object-fit: cover;
  border: 3px solid #f2f8fc !important;
  margin-right: 2rem;
  box-shadow: -2px 4px 0 rgba(34, 36, 38, 0.12),
    -2px 10px 0 rgba(34, 36, 38, 0.15);
}
.dashboard-username {
  font-family: TrueLies !important;
  font-size: 45px;
  color: #fff !important;
  text-shadow: -2px 4px 0 rgba(34, 36, 38, 0.12),
    -2px 10px 0 rgba(34, 36, 38, 0.15);
}
/* DIVIDE */
.divide {
  content: '';
  height: 10px;
  margin: 0 7px;
  border-right: 1px #777 solid;
}
/* Draggble */
.draggable,
.draggable:hover {
  cursor: -webkit-grab;
  /* -webkit-app-region: drag !important; */
}
.draggable:active {
  cursor: -webkit-grabbing;
  -webkit-app-region: drag !important;
}

/* ERROR */
.error-page {
  position: absolute;
  top: 25%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-family: TrueLies;
  font-size: 105px;
  /* font-weight: 500; */
  color: rgb(36, 41, 46);
  margin-left: 2rem;
  margin-top: 1rem;
  text-shadow: -2px 4px 0 rgba(34, 36, 38, 0.12),
    -2px 10px 0 rgba(34, 36, 38, 0.15);
}
/* FAV button */
.fav {
  position: absolute;
  top: 10px;
  right: 10px;
}
.fav > button {
  margin: 0 !important;
}
.favlist-none {
  width: 100%;
  color: #cecece;
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.favlist-none > i {
  display: initial;
  font-size: 250px;
}
.favlist-none > div {
  margin-top: 25px;
  font-size: 25px;
}

/* FOOTER */
.footer {
  background-color: #202529;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  height: auto;
  padding: 20px 45px !important;
}
/* HEADER */
.header-main {
  /*Home VNIME*/
  font-size: 75px !important;
  font-weight: 500 !important;
}
.header-row {
  background-color: #224264;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.header-row-sec {
  background-color: #f2f8fc;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  padding: 6px 0 0 0 !important;
}
.header-row-dash {
  height: 120px;
  background-color: #224264;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.27),
    0 2px 10px 0 rgba(34, 36, 38, 0.3);
}
.header-section {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-weight: 500 !important;
  font-family: 'Play' !important;
}
.header-section-primary {
  color: #f2f8fc !important;
}
.header-section-secondary {
  color: #24292e !important;
}
.header-section-dash {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #f2f8fc !important;
}
.header-section-primary::after {
  content: '';
  width: 40px;
  height: 3px;
  background: #f2f8fc;
  display: block;
  margin: 10px 0 0 3px;
}
.header-section-secondary::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #f2f8fc;
  display: block;
  margin: 5px 0 0 3px;
}
.header-section-home::after {
  content: '';
  width: 20px;
  height: 6px;
  background: #f2f8fc;
  display: block;
  margin: 10px 0 0 3px;
}
.ui.header,
.header {
  font-family: 'Play' !important;
}
/* HEIGHT UTIL */
.height-big {
  min-height: 75vh;
}
.height-med {
  min-height: 55vh;
}
.height-small {
  min-height: 35vh;
}
/* HERO */
.hero {
  margin-top: -1rem;
  z-index: 0;
  position: relative;
  height: 420px;
  padding: 0;
}
.hero > .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(247, 247, 247, 0.1) 0, #f2f8fc);
  background: linear-gradient(180deg, rgba(248, 248, 248, 0.1) 0, #f2f8fc);
  z-index: 0;
}
.hero-content {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hero-header {
  font-size: 2rem !important;
  font-weight: 700;
  margin-bottom: 0.75em;
}
.hero-subheader {
  display: block;
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}
/* HOME */
.home-section {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  min-height: calc(100vh - 31px);
  padding: 70px 70px !important;
}
.home-section-primary {
  background-color: #38597c;
}
.home-section-secondary {
  background-color: #224264;
}
.home-section-particles {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  min-height: calc(100vh - 31px);
}
.home-section-header {
  position: absolute;
  z-index: 999;
}
.home-section-header-wrapper {
  background-color: #38597c;
  position: absolute !important;
  width: 100% !important;
  margin-left: 70px;
  top: 35%;
}
.home-section-header > h1 {
  font-size: 60px;
  font-weight: 700;
  color: #f2f8fc;
}
.home-section-header > p {
  font-size: 20px;
  margin-bottom: 35px;
}
/* ITEM {Sem UI} */
.item {
  font-family: 'Play' !important;
  cursor: default !important;
}
.item.divider {
  padding: 0 !important;
  margin: 11px 0 11px 0 !important;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
/* INLINE UTIL */
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
/* Labels */
.label-clear {
  cursor: pointer;
  background-color: transparent !important;
  background: transparent !important;
}
/* EPISODE BUTTON */
.label-blue {
  cursor: pointer;
  background: transparent !important;
  border: 1px solid #38597c !important;
  color: #38597c !important;
  margin: 4px 3px !important;
  transition: all 0.18s ease-in-out;
  cursor: default;
}
.label-blue:hover {
  background: #38597c !important;
  border: 1px solid #38597c !important;
  color: #f2f8fc !important;
}
.label-blue:active {
  background: #224264 !important;
  border: 1px solid #224264 !important;
}
.label-blue-selected {
  cursor: pointer;
  background: rgb(36, 41, 46) !important;
  border: 1px solid rgb(36, 41, 46) !important;
  color: #f2f8fc !important;
  margin: 4px 3px !important;
}
.label-blue-selected:hover {
  cursor: not-allowed;
}
/* EPISDOE RANGE */
.label-black {
  cursor: pointer;
  background: transparent !important;
  border: 1px solid #333 !important;
  color: #333 !important;
  margin: 4px 3px !important;
  transition: all 0.18s ease-in-out;
}
.label-black:hover {
  background: #444 !important;
  border: 1px solid #333 !important;
  color: #f2f8fc !important;
}
.label-black:active {
  background: #333 !important;
  border: 1px solid #333 !important;
}
.label-black-selected {
  cursor: pointer;
  background: #333 !important;
  border: 1px solid #333 !important;
  color: #f2f8fc !important;
  margin: 4px 3px !important;
}
.label-black-selected:hover {
  cursor: not-allowed;
}
/* MAIN CONTENT */
.main-content {
  height: 100vh;
  background: linear-gradient(110deg, #e5ebee 35%, rgba(0, 0, 0, 0) 35%),
    linear-gradient(110deg, #edf2f5 66%, #f2f8fc 66%);
  margin-left: 210px;
  min-width: 550px;
  overflow-x: hidden;
}
/* MARGIN UTIL */
.lower-content {
  padding-top: 45px;
}
/* MENU */
.menu-bar {
  position: fixed;
  top: 0;
  left: 210px;
  right: 0;
  width: auto !important;
  z-index: 1000;
}
.menu-item-header {
  padding-bottom: 0 !important;
}
.menu-header {
  margin: 0 !important;
  line-height: 26px;
  font-weight: 600 !important;
  color: #45494d;
}

/* OVERFLOW Y */
.overflowY {
  overflow-y: scroll;
  min-height: 100vh;
}
/* Padding fix */
.padding-fix {
  padding: 0px 1rem !important;
}

/* PAGES */
.page {
  height: calc(100vh - 1px);
  /* Combat lowering the main content padding */
  margin-top: -44px;
  position: relative;
  padding: 0;
}
.page-primary {
  background: linear-gradient(160deg, #38597c 50%, #224264 50%);
}

.page-header {
  margin-left: 18px;
  text-align: center;
  color: #f2f8fc;
  font-size: 45px !important;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-header > h1 {
  font-size: 85px !important;
  font-family: 'Play' !important;
  font-weight: 400 !important;
  letter-spacing: 36px;
}
.page-header > h2 {
  font-family: 'Play' !important;
  font-weight: 300 !important;
  letter-spacing: 26px;
}
.page-header::after {
  content: '';
  width: 125px;
  height: 6px;
  background: #f2f8fc;
  display: block;
}
.page-content {
  height: auto;
  width: auto;
  padding: 12px;
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -30%);
}
.page-watch{
  background-color: #f2f8fc;
  min-height: 180vh;
  padding-bottom:40px; 
}
/* PULL right */
.pullright {
  float: right;
}
/* Removable */
.removable {
  position: absolute;
  top: 18px;
  right: 18px;
}
/* Resizeable */
.resizeable {
  -webkit-app-region: no-drag;
}
/* Results */
.result > a {
  height: 100%;
  width: 100%;
  padding-bottom: 40px;
  color: #24292e !important;
  font-size: 11px;
}
.ui.search > .results .result .image {
  float: left;
  overflow: hidden;
  background: 0 0;
  width: 3em;
  height: 4em;
  border-radius: 0.25em;
}
::-webkit-input-placeholder {
  color: #55585c !important;
}

/* Rotating */
.rotating {
  -webkit-animation: rotating 3s linear infinite;
  -moz-animation: rotating 3s linear infinite;
  -ms-animation: rotating 3s linear infinite;
  -o-animation: rotating 3s linear infinite;
  animation: rotating 3s linear infinite;
}
.searchBar-container {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
/* SAMPLE */
.sample {
  padding-left: 0 !important;
}
.sample-card {
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  transition: all 0.15s linear !important;
}
.sample-card:hover {
  transform: translateY(-3px) !important;
  box-shadow: 0 4px 8px 0 rgba(34, 36, 38, 0.12),
    0 4px 15px 0 rgba(34, 36, 38, 0.15);
}
.sample-card:active {
  transform: translateY(-1px) !important;
  box-shadow: 0 2px 6px 0 rgba(34, 36, 38, 0.12),
    0 2px 8px 0 rgba(34, 36, 38, 0.15);
}
.sample-line {
  height: 2px;
  width: 25%;
  background-color: #f2f8fc;
  display: block;
  margin: 2px 0;
  opacity: 0;
  transition: all 0.15s linear;
}
.sample-card:hover + .sample-line {
  opacity: 1;
}
.sample-card:active + .sample-line {
  width: 90%;
}
.sample-header {
  font-weight: 200;
}
.sample-header::after {
  content: '';
  margin: 5px 0;
  width: 20%;
  height: 2px;
  background-color: #f2f8fc;
  display: block;
}
/* SEARCH BAR */
.searchBar > div {
  max-width: 185px !important;
}
.searchBar > .results {
  max-height: 45vh;
  overflow-y: scroll;
}
.searchBar > .ui.input > input {
  font-family: 'Play' !important;
  font-size: 13px;
}
.searchBar > .ui.input > input::placeholder {
  color: #38597c;
}
.searchBar > .ui.input > input:focus {
  border-color: rgba(255, 255, 255, 0.7);
}
/* SCHEDULE */
.schedule-content.content {
  padding: 0 !important;
  position: relative;
  height: 85px;
}
.schedule {
  position: absolute;
  top: -0.5px;
  left: 0;
  height: 86px;
  width: 100%;
  border-radius: 0.28571429rem;
  padding: 1em 1em;
  background-color: rgba(56, 89, 124, 0.85) !important;
  color: #f2f8fc !important;
  clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
}
.schedule > .description {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.schedule > .meta {
  font-size: 10px !important;
  color: #f2f8fc !important;
}
.schedule-overlay {
  color: rgb(36, 41, 46);
  opacity: 0 !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}
.content:hover > .schedule-overlay {
  opacity: 1 !important;
}
/* SIDE BAR */
.side-bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 100vh;
  padding-bottom: 1em;
  background: rgb(36, 41, 46) !important;
  font-family: 'Play', sans-serif !important;
}
.side-details {
  z-index: 1;
  margin-top: -200px;
  margin-bottom: 1rem;
}
/* Modal fix */
.ui.page.modals.dimmer.transition.visible.active {
  margin: 0;
}
.fix.visible.transition {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -40%);
  margin: 0 !important;
  visibility: visible !important;
}
/* ANIMATIONS */
/* Fade in */
.fade-in {
  animation: fade-in ease 1s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /* when the spec is finished */
  opacity: 0;
  opacity: 1\9;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
