html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: 'Play', sans-serif !important;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Play', sans-serif !important;
}
/* btn */
.ui.button {
  font-family: 'Play' !important;
}

/* CARD */
.card-no-border {
  border: 0;
}
.card-episodes {
  text-align: center;
  padding: 4px 10px 4px 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: auto;
  font-size: 13.5px;
  font-weight: 500;
  color: rgb(247, 247, 247);
  background-color: rgba(10, 100, 160, 0.85) !important;
  border-top-right-radius: 3px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}
.card-extra {
  text-align: center;
  padding: 4px 15px 4px 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  width: auto;
  font-size: 13.5px;
  font-weight: 500;
  color: rgb(247, 247, 247);
  background-color: rgba(51, 51, 51, 0.851) !important;
  border-top-left-radius: 3px;
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
.card-overlay {
  text-align: center;
  padding: 5px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #2b2b2b;
  background-color: rgba(240, 240, 240, 0.8);
}
.card:hover > .card-play {
  opacity: 1;
}
.card-play {
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #0a64a0;
  background-color: rgba(244, 244, 244, 0.8);
  opacity: 0;
  transition: opacity 0.15s linear;
}
.card-play > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CENTERED */
.centered-form {
  z-index: 10;
  width: 400px;
  height: auto;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* DIVIDE */
.divide {
  content: '';
  height: 10px;
  margin: 0 7px;
  border-right: 1px #777 solid;
}
/* Draggble */
.draggable,
.draggable:hover {
  cursor: -webkit-grab;
  -webkit-app-region: drag !important;
}
.draggable:active {
  cursor: -webkit-grabbing;
  -webkit-app-region: drag !important;
}
/* FAV button */
.fav {
  position: absolute;
  top: 10px;
  right: 10px;
}
.fav > button {
  margin: 0 !important;
}
/* HEADER */
.header-main {
  font-size: 75px !important;
  font-weight: 500 !important;
}
.header-row {
  background-color: #2f7aac;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.header-row-sec {
  background-color: #333;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.header-section {
  padding-left: 1rem !important;
  font-family: 'Play' !important;
}
.header-section::after {
  content: '';
  width: 40px;
  height: 3px;
  background: #ffffff;
  display: block;
  margin: 10px 0 0 3px;
}
.header-section-sec {
  padding-left: 1rem !important;
  font-family: 'Play' !important;
}
.header-section-sec::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #0a64a0;
  display: block;
  margin: 5px 0 0 3px;
}

.ui.header,
.header {
  font-family: 'Play' !important;
}

/* HEIGHT UTIL */
.height-big {
  min-height: 75vh;
}
.height-med {
  min-height: 55vh;
}
.height-small {
  min-height: 35vh;
}
/* HERO */
.hero {
  margin-top: -1rem;
  z-index: 0;
  position: relative;
  height: 420px;
  padding: 0;
}
.hero > .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(247, 247, 247, 0.1) 0, #f5f5f5);
  background: linear-gradient(180deg, rgba(248, 248, 248, 0.1) 0, #f5f5f5);
  z-index: 0;
}
.hero-content {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hero-header {
  font-size: 2rem !important;
  font-weight: 700;
  margin-bottom: 0.75em;
}
.hero-subheader {
  display: block;
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

/* ITEM {Sem UI} */
.item {
  font-family: 'Play' !important;
}
.item.divider {
  padding: 0 !important;
  margin: 11px 0 11px 0 !important;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
/* PAGES */
.page {
  height: 100vh;
  /* Combat lowering the main content padding */
  margin-top: -54px;
  position: relative;
  padding: 0;
}
.page-primary {
  padding: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  background: #2f7aac;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0, 100% 0%, 100% 42%, 0 84%);
}
.page-secondary {
  padding: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  background-color: #3b85b7;
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: polygon(0 75%, 100% 25%, 100% 100%, 0 100%);
}

.page-header {
  margin-left: 18px;
  text-align: center;
  color: #fff;
  font-size: 45px !important;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-header > h1 {
  font-family: 'Play' !important;
  font-weight: 400 !important;
  letter-spacing: 36px;
}
.page-header > h2 {
  font-family: 'Play' !important;
  font-weight: 300 !important;
  letter-spacing: 26px;
}
.page-header::after {
  content: '';
  width: 125px;
  height: 6px;
  background: #ffffff;
  display: block;
}
.page-content {
  height: auto;
  width: auto;
  padding: 12px;
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -30%);
}

/* INLINE UTIL */
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}

/* Labels */
.label-clear {
  background-color: transparent !important;
  background: transparent !important;
}
/* EPISODE BUTTON */
.label-blue {
  cursor: pointer;
  background: transparent !important;
  border: 1px solid #0a64a0 !important;
  color: #0a64a0 !important;
  margin: 4px 3px !important;
  transition: all 0.18s ease-in-out;
}
.label-blue:hover {
  background: #0a64a0 !important;
  border: 1px solid #0a64a0 !important;
  color: #f5f5f5 !important;
}
.label-blue:active {
  background: #08568a !important;
  border: 1px solid #08568a !important;
}
.label-blue-selected {
  cursor: pointer;
  background: #064d7c !important;
  border: 1px solid #064d7c !important;
  color: #f5f5f5 !important;
  margin: 4px 3px !important;
}
.label-blue-selected:hover {
  cursor: not-allowed;
}
/* EPISDOE RANGE */
.label-black {
  cursor: pointer;
  background: transparent !important;
  border: 1px solid #333 !important;
  color: #333 !important;
  margin: 4px 3px !important;
  transition: all 0.18s ease-in-out;
}
.label-black:hover {
  background: #444 !important;
  border: 1px solid #333 !important;
  color: #f5f5f5 !important;
}
.label-black:active {
  background: #333 !important;
  border: 1px solid #333 !important;
}
.label-black-selected {
  cursor: pointer;
  background: #333 !important;
  border: 1px solid #333 !important;
  color: #f5f5f5 !important;
  margin: 4px 3px !important;
}
.label-black-selected:hover {
  cursor: not-allowed;
}
/* MAIN CONTENT */
.main-content {
  height: 100vh;
  margin-left: 210px;
  min-width: 550px;
  overflow-x: hidden;
}
/* MARGIN UTIL */
.lower-content {
  padding-top: 54px;
}
/* MENU */
.menu-bar {
  position: fixed;
  top: 0;
  left: 210px;
  right: 0;
  border: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  background-color: #08568a !important;
  z-index: 1000;
}
.menu-btn {
  color: #fff !important;
  -webkit-app-region: no-drag !important;
  transition: all 0.15s linear;
}
.menu-btn:hover {
  background-color: #064d7c !important;
}
.menu-btn-red {
  color: inherit;
  transition: all 0.15s linear;
}
.menu-btn-red:hover {
  color: #db2828 !important;
}
/* OVERFLOW Y */
.overflowY {
  overflow-y: scroll;
  min-height: 100vh;
}
/* Results */
.result > a {
  height: 100%;
  width: 100%;
  padding-bottom: 40px;
  /* color: #2b2b2b !important; */
}
.ui.search > .results .result .image {
  float: left;
  overflow: hidden;
  background: 0 0;
  width: 3em;
  height: 4em;
  border-radius: 0.25em;
}
/* SEARCH BAR */
.searchBar > div {
  max-width: 185px !important;
}
.searchBar > .results {
  max-height: 45vh;
  overflow-y: scroll;
}
.searchBar > .ui.input > input {
  font-family: 'Play' !important;
  font-size: 13px;
}
.searchBar > .ui.input > input::placeholder {
  color: #0a64a0;
}
.searchBar > .ui.input > input:focus {
  border-color: rgba(255, 255, 255, 0.7);
}

/* SCHEDULE */
.schedule-content.content {
  padding: 0 !important;
  position: relative;
  height: 85px;
}
.schedule {
  position: absolute;
  top: -0.5px;
  left: 0;
  height: 86px;
  width: 100%;
  border-radius: 0.28571429rem;
  padding: 1em 1em;
  background-color: rgba(10, 100, 160, 0.85) !important;
  color: #f5f5f5 !important;

  clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
}

.schedule > .description {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.schedule > .meta {
  font-size: 10px !important;
  color: #f5f5f5 !important;
}
.schedule-overlay {
  opacity: 0 !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}
.content:hover > .schedule-overlay {
  opacity: 1 !important;
}
/* SIDE BAR */
.side-bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 100vh;
  padding-bottom: 1em;
  background: #0a64a0 !important;
  font-family: 'Play', sans-serif !important;
}
.side-details {
  z-index: 1;
  margin-top: -200px;
  margin-bottom: 1rem;
}

/* ANIMATIONS */

/* Fade in */
.fade-in {
  animation: fade-in ease 1s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /*when the spec is finished*/

  opacity: 0;
  opacity: 1\9;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
