/*
Colours
  primary: #38597c
  secondary: #224264
  tertiary: #0a243f
  accent:#dbf675 
  white: #f2f8fc
*/

@font-face {
  font-family: TrueLies;
  src: url('./fonts/True Lies.ttf');
}

html,
body {
  font-family: 'Play', sans-serif !important;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f2f8fc;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Play', sans-serif !important;
}
/* btn */
.ui.button {
  font-family: 'Play' !important;
}
.btn-clear {
  font-size: 9px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #f2f8fc;
  background-color: transparent;
  padding: 15px 25px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  outline: none;
  transition: all 0.3s linear;
}
.btn-clear:hover {
  color: #222;
  transform: translateY(-3px);
  background-color: #f2f8fc;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.btn-clear:active {
  transform: translateY(-1px);
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.12),
    0 1px 5px 0 rgba(34, 36, 38, 0.15);
}

.btn-secondary {
  font-size: 14px;
  font-weight: 500;
  color: #dbf675;
  background-color: transparent;
  padding: 5px 5px;
  border-bottom: 1px solid transparent;
  outline: none;
  transition: all 0.2s linear;
}
.btn-secondary:hover {
  color: #f2f8fc;
  background-color: #38597c;
  transform: translateY(-3px) !important;
  border-bottom: 1px solid #f2f8fc;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.btn-secondary:active {
  transform: translateY(0px);
}

/* CARD */
.card > .ui.fluid.image {
  border-radius: 3px !important;
}
.card-no-border {
  border: 0;
  border-radius: 3px !important;
}
.card-episodes {
  text-align: center;
  padding: 4px 10px 4px 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: auto;
  width: auto;
  font-size: 13.5px;
  font-weight: 500;
  color: #dbf675;
  background-color: rgba(10, 36, 63, 0.85) !important;
  border-top-right-radius: 3px;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}
.card-extra {
  text-align: center;
  padding: 4px 15px 4px 10px;
  position: absolute;
  top: -0.5px;
  left: -0.5px;
  height: auto;
  width: auto;
  font-size: 13.5px;
  font-weight: 500;
  color: #0a243f;
  background-color: rgba(218, 246, 117, 0.85);
  border-top-left-radius: 3px;
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
.card-overlay {
  text-align: center;
  padding: 5px 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: auto;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  color: #f2f8fc;
  background-color: rgba(56, 89, 124, 0.8);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.card:hover > .card-play {
  opacity: 1;
}
.card-play {
  position: absolute;
  border-radius: 3px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: #0a243f;
  background-color: rgba(244, 244, 244, 0.8);
  opacity: 0;
  transition: opacity 0.15s linear;
}
.card-play > * {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CENTERED */
.centered-form {
  z-index: 10;
  width: 400px;
  height: auto;
  position: absolute !important;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
}

/* DIVIDE */
.divide {
  content: '';
  height: 10px;
  margin: 0 7px;
  border-right: 1px #777 solid;
}
/* Draggble */
.draggable,
.draggable:hover {
  cursor: -webkit-grab;
  -webkit-app-region: drag !important;
}
.draggable:active {
  cursor: -webkit-grabbing;
  -webkit-app-region: drag !important;
}
/* FAV button */
.fav {
  position: absolute;
  top: 10px;
  right: 10px;
}
.fav > button {
  margin: 0 !important;
}
/* HEADER */
.header-main {
  /*Home VNIME*/
  font-size: 75px !important;
  font-weight: 500 !important;
}
.header-row {
  background-color: #224264;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.header-row-sec {
  background-color: #0a243f;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.header-row-dash {
  height: 120px;
  background-image: linear-gradient(
    to bottom,
    #224264,
    #224264 95%,
    #dbf675 5%
  );
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
}
.header-section {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  font-weight: 500 !important;
  font-family: 'Play' !important;
}
.header-section-primary {
  color: #f2f8fc !important;
}
.header-section-secondary {
  color: #dbf675 !important;
}
.header-section-dash {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  color: #f2f8fc !important;
}
.header-section-dash > .username {
  font-family: TrueLies !important;
  font-size: 45px;
  margin-left: 1rem;
}
.header-section-primary::after {
  content: '';
  width: 40px;
  height: 3px;
  background: #dbf675;
  display: block;
  margin: 10px 0 0 3px;
}
.header-section-secondary::after {
  content: '';
  width: 20px;
  height: 2px;
  background: #f2f8fc;
  display: block;
  margin: 5px 0 0 3px;
}
.header-section-home::after {
  content: '';
  width: 20px;
  height: 6px;
  background: #f2f8fc;
  display: block;
  margin: 10px 0 0 3px;
}
.ui.header,
.header {
  font-family: 'Play' !important;
}
/* HEIGHT UTIL */
.height-big {
  min-height: 75vh;
}
.height-med {
  min-height: 55vh;
}
.height-small {
  min-height: 35vh;
}
/* HERO */
.hero {
  margin-top: -1rem;
  z-index: 0;
  position: relative;
  height: 420px;
  padding: 0;
}
.hero > .hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: -webkit-linear-gradient(top, rgba(247, 247, 247, 0.1) 0, #f2f8fc);
  background: linear-gradient(180deg, rgba(248, 248, 248, 0.1) 0, #f2f8fc);
  z-index: 0;
}
.hero-content {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.hero-header {
  font-size: 2rem !important;
  font-weight: 700;
  margin-bottom: 0.75em;
}
.hero-subheader {
  display: block;
  margin-top: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}
/* HOME */
.home-section {
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
  min-height: calc(100vh - 31px);
  padding: 70px 70px !important;
}
.home-section-primary {
  background-color: #38597c;
}
.home-section-secondary {
  background-color: #224264;
}
.home-section-header {
  position: absolute;
  top: 35% !important;
}
.home-section-header > h1 {
  font-size: 60px;
  font-weight: 700;
  color: #f2f8fc;
}
.home-section-header > p {
  font-size: 20px;
  margin-bottom: 35px;
}
/* ITEM {Sem UI} */
.item {
  font-family: 'Play' !important;
}
.item.divider {
  padding: 0 !important;
  margin: 11px 0 11px 0 !important;
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1) !important;
}
/* INLINE UTIL */
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
/* Labels */
.label-clear {
  background-color: transparent !important;
  background: transparent !important;
}
/* EPISODE BUTTON */
.label-blue {
  cursor: pointer;
  background: transparent !important;
  border: 1px solid #38597c !important;
  color: #38597c !important;
  margin: 4px 3px !important;
  transition: all 0.18s ease-in-out;
}
.label-blue:hover {
  background: #38597c !important;
  border: 1px solid #38597c !important;
  color: #f2f8fc !important;
}
.label-blue:active {
  background: #224264 !important;
  border: 1px solid #224264 !important;
}
.label-blue-selected {
  cursor: pointer;
  background: #0a243f !important;
  border: 1px solid #0a243f !important;
  color: #dbf675 !important;
  margin: 4px 3px !important;
}
.label-blue-selected:hover {
  cursor: not-allowed;
}
/* EPISDOE RANGE */
.label-black {
  cursor: pointer;
  background: transparent !important;
  border: 1px solid #333 !important;
  color: #333 !important;
  margin: 4px 3px !important;
  transition: all 0.18s ease-in-out;
}
.label-black:hover {
  background: #444 !important;
  border: 1px solid #333 !important;
  color: #f2f8fc !important;
}
.label-black:active {
  background: #333 !important;
  border: 1px solid #333 !important;
}
.label-black-selected {
  cursor: pointer;
  background: #333 !important;
  border: 1px solid #333 !important;
  color: #f2f8fc !important;
  margin: 4px 3px !important;
}
.label-black-selected:hover {
  cursor: not-allowed;
}
/* MAIN CONTENT */
.main-content {
  height: 100vh;
  margin-left: 210px;
  min-width: 550px;
  overflow-x: hidden;
}
/* MARGIN UTIL */
.lower-content {
  padding-top: 45px;
}
/* MENU */
.menu-bar {
  position: fixed;
  top: 0;
  left: 210px;
  right: 0;
  width: auto !important;
  /* border: 0 !important;
  border-radius: 0 !important;
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  background-color: #224264 !important; */
  z-index: 1000;
}
.menu-btn {
  color: #fff !important;
  -webkit-app-region: no-drag !important;
  transition: all 0.15s linear;
}
.menu-btn:hover {
  background-color: #0a243f !important;
}
.menu-btn-red {
  color: inherit;
  transition: all 0.15s linear;
}
.menu-btn-red:hover {
  color: #db2828 !important;
}
/* OVERFLOW Y */
.overflowY {
  overflow-y: scroll;
  min-height: 100vh;
}
/* PAGES */
.page {
  height: 100vh;
  /* Combat lowering the main content padding */
  margin-top: -44px;
  position: relative;
  padding: 0;
}
.page-primary {
  padding: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  background-color: #38597c;
  position: absolute;
  top: 0;
  left: 0;
}
.page-secondary {
  padding: 0;
  margin: 0 !important;
  height: 100%;
  width: 100%;
  background: #224264;
  position: absolute;
  bottom: 0;
  left: 0;
}
/* Page clips */
/* Forwardslash :[/] */
.page-clip-forwardslash-top {
  clip-path: polygon(0 0, 100% 0%, 100% 42%, 0 84%);
}
.page-clip-forwardslash-bottom {
  clip-path: polygon(0 75%, 100% 25%, 100% 100%, 0 100%);
}
/* Backslash :[\] */
.page-clip-backslash-top {
  clip-path: polygon(0 0, 100% 0, 100% 84%, 0 42%);
}
.page-clip-backslash-bottom {
  clip-path: polygon(0 25%, 100% 75%, 100% 100%, 0% 100%);
}
.page-header {
  margin-left: 18px;
  text-align: center;
  color: #dbf675;
  font-size: 45px !important;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.page-header > h1 {
  font-family: 'Play' !important;
  font-weight: 400 !important;
  letter-spacing: 36px;
}
.page-header > h2 {
  font-family: 'Play' !important;
  font-weight: 300 !important;
  letter-spacing: 26px;
}
.page-header::after {
  content: '';
  width: 125px;
  height: 6px;
  background: #f2f8fc;
  display: block;
}
.page-content {
  height: auto;
  width: auto;
  padding: 12px;
  position: absolute;
  top: 30%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -30%);
}
/* Results */
.result > a {
  height: 100%;
  width: 100%;
  padding-bottom: 40px; /* color: #2b2b2b !important; */
}
.ui.search > .results .result .image {
  float: left;
  overflow: hidden;
  background: 0 0;
  width: 3em;
  height: 4em;
  border-radius: 0.25em;
}
/* SAMPLE */
.sample {
  padding-left: 0 !important;
}
.sample-card {
  box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12),
    0 2px 10px 0 rgba(34, 36, 38, 0.15);
  transition: all 0.15s linear !important;
}
.sample-card:hover {
  transform: translateY(-3px) !important;
  box-shadow: 0 4px 8px 0 rgba(34, 36, 38, 0.12),
    0 4px 15px 0 rgba(34, 36, 38, 0.15);
}
.sample-card:active {
  transform: translateY(-1px) !important;
  box-shadow: 0 2px 6px 0 rgba(34, 36, 38, 0.12),
    0 2px 8px 0 rgba(34, 36, 38, 0.15);
}
.sample-line {
  height: 2px;
  width: 25%;
  background-color: #dbf675;
  display: block;
  margin: 2px 0;
  opacity: 0;
  transition: all 0.15s linear;
}
.sample-card:hover + .sample-line {
  opacity: 1;
}
.sample-card:active + .sample-line {
  width: 90%;
}
.sample-header {
  font-weight: 200;
}
.sample-header::after {
  content: '';
  margin: 5px 0;
  width: 90%;
  height: 2px;
  background-color: #dbf675;
  display: block;
}
/* SEARCH BAR */
.searchBar > div {
  max-width: 185px !important;
}
.searchBar > .results {
  max-height: 45vh;
  overflow-y: scroll;
}
.searchBar > .ui.input > input {
  font-family: 'Play' !important;
  font-size: 13px;
}
.searchBar > .ui.input > input::placeholder {
  color: #38597c;
}
.searchBar > .ui.input > input:focus {
  border-color: rgba(255, 255, 255, 0.7);
}
/* SCHEDULE */
.schedule-content.content {
  padding: 0 !important;
  position: relative;
  height: 85px;
}
.schedule {
  position: absolute;
  top: -0.5px;
  left: 0;
  height: 86px;
  width: 100%;
  border-radius: 0.28571429rem;
  padding: 1em 1em;
  background-color: rgba(56, 89, 124, 0.85) !important;
  color: #f2f8fc !important;
  clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);
}
.schedule > .description {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}
.schedule > .meta {
  font-size: 10px !important;
  color: #f2f8fc !important;
}
.schedule-overlay {
  color: #0a243f;
  opacity: 0 !important;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  transition: all 0.4s ease;
}
.content:hover > .schedule-overlay {
  opacity: 1 !important;
}
/* SIDE BAR */
.side-bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 100vh;
  padding-bottom: 1em;
  background: #0a243f !important;
  font-family: 'Play', sans-serif !important;
}
.side-details {
  z-index: 1;
  margin-top: -200px;
  margin-bottom: 1rem;
}
/* ANIMATIONS */
/* Fade in */
.fade-in {
  animation: fade-in ease 1s;
  animation-delay: 0.3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; /* when the spec is finished */
  opacity: 0;
  opacity: 1\9;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
